services:
    api:
        image: ghcr.io/transitiom/projectmercury:main
        ports:
            - "8090:8090"
        depends_on:
            minio:
                condition: service_healthy

    minio:
        image: quay.io/minio/minio:latest
        container_name: minio
        command: server --console-address ":9001" /data
        ports:
            - "9000:9000"
            - "9001:9001"
        volumes:
            - minio_data:/data
        healthcheck:
            test: ["CMD", "mc", "ready", "local"]
            interval: 30s
            timeout: 20s
            retries: 3

volumes:
    minio_data:
