services:
    minio:
        image: quay.io/minio/minio:latest
        container_name: minio
        command: server --console-address ":9001" /data
        environment:
            MINIO_ROOT_USER: minioadmin
            MINIO_ROOT_PASSWORD: minioadmin
        ports:
            - "9000:9000"
            - "9001:9001"
        volumes:
            - minio_data:/data
        healthcheck:
            test: ["CMD", "mc", "ready", "local"]
            interval: 30s
            timeout: 20s
            retries: 3

volumes:
    minio_data:
