# server configuration
APP_PORT=:8090

# file storage paths
GTFS_FILE_PATH=GTFS.zip
MESSAGES_FILE_PATH=messages.json

# signalr configuration
SIGNALR_EXPIRY=2m

# gtfs github fetch configuration
CURA_OWNER=transitIOM
CURA_REPO=projectCura

# linear integration
LINEAR_API_KEY=<your_linear_api_key>
