services:
    api:
        image: ghcr.io/transitiom/projectmercury:release-v1.0.0-beta.1
        ports:
            - "8090:8090"
        environment:
            - MINIO_ACCESS_KEY=minioadmin
            - MINIO_SECRET_KEY=minioadmin
            - MINIO_ENDPOINT=minio:9000
            - API_KEY=testtttttttttttttttttttttttttttttttttttttttttttt
            - LOG_LEVEL=debug
            - LOG_FORMAT=json
        depends_on:
            minio:
                condition: service_healthy

    minio:
        image: quay.io/minio/minio:latest
        container_name: minio
        command: server --console-address ":9001" /data
        environment:
            MINIO_ROOT_USER: minioadmin
            MINIO_ROOT_PASSWORD: minioadmin
        ports:
            - "9000:9000"
            - "9001:9001"
        volumes:
            - minio_data:/data
        healthcheck:
            test: ["CMD", "mc", "ready", "local"]
            interval: 30s
            timeout: 20s
            retries: 3

volumes:
    minio_data:
